@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
  }

  body {
    @apply text-slate-800 bg-white;
  }

  * {
    @apply box-border;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-slate-100;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-sky-300 rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-sky-400;
  }
}
